#mapid {
  height: 30em !important;
}
td {
  padding: 0.3em !important;
  font-size: 1.5em !important;
}
.card.small {
  height: 170px !important;
}
.nav-wrapper{
  height: 6em !important;
}
p {
  margin: 0.2em !important;
}
.address{
  font-size: 1.5em !important;
}
@font-face {
  font-family:"Roice";
  src: url("../fonts/roice-regular.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Roice";
    src: url("../fonts/roice-regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family:"Bebas_Neue";
    src: url("../fonts/BebasNeue Book.ttf") /* TTF file for CSS3 browsers */
}
html {
  font-family: 'Roice', cursive;
}
#about_us{
  top: 2000px !important;
}
#designer{
  font-family: 'Roboto', sans-serif !important;
}
  @media screen and (min-width: 993px) {
  .brand-logo{
    margin-left: 1em !important;
  }
}
.left-nav{
  margin-right: 3em !important;
}
.brand-logo{
  padding-top: 0.5em !important;
}
#nav-mobile{
  padding-top: 1em !important;
}
.parallax-container{
  position: static !important;
}
#katy{
  font-family: 'Arvo', serif;
  display: inline !important;
  letter-spacing:0.1em;
}
#dumpling{
  font-family: 'Bebas_Neue', serif;
  padding-left: 0.2em;
  display: inline !important;
  letter-spacing:0.1em;
}